.coach-info-container {
  padding: 20px; /* Add padding */
  border-radius: 10px; /* Add border radius */
  text-align: center; /* Center-align content */
  overflow-x: auto;
}
.pk {
  height: 100vh;
  background:
    linear-gradient(0deg, rgba(30, 20, 122, 0.504) 61%, rgb(180, 45, 253) 100%),
    url("./back.jpg") no-repeat center center/ cover;
  background-attachment: fixed;
  color: #b2ffff;
}
/* Styles for the container wrapping the coach name and coach image */
.coach-name-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center-align content */
  margin-bottom: 20px; /* Add margin */
}

/* Styles for the coach image */
.coach-name-container img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

/* Styles for the coach name */
.coachheading {
  font-size: 24px; /* Set font size */
  color: #333333cc; /* Set text color */
  margin: 0; /* Remove default margin */
}

/* Styles for the table */
.table-container {
  width: 100%; /* Set table width */
  border-collapse: collapse; /* Collapse table borders */
  margin-top: 20px; /* Add margin */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add shadow to table */
}

/* Styles for table headers and cells */
table th,
table td {
  padding: 15px; /* Add padding */
  text-align: center; /* Center-align content */
  border: 2px solid #7e57c2; /* Set border color and width */
}

/* Styles for table headers */
table th {
  background-color: #f2f2f2; /* Set background color */
  font-weight: bold; /* Set font weight */
}

/* Styles for table rows on hover */
table tr:hover {
  background-color: rgba(
    122,
    56,
    153,
    0.178
  ); /* Change background color on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .coach-info-container {
    padding: 15px; /* Reduce padding */
  }

  .coach-name-container img {
    width: 60px; /* Reduce image width */
    height: 60px; /* Reduce image height */
  }

  .coach-name-container h1 {
    font-size: 20px; /* Reduce font size */
  }

  table {
    font-size: 14px; /* Reduce font size */
  }
}
