.homepage {
  display: flex;
}

.left-section {
  width: 25%;
  background-color: #000000;
  min-height: 100vh;
}
.scorecard-button {
  position: relative;
  top: -50px;
  background-color: #4681f4;
  transition: background-color 0.3s ease;
  border-radius: 7px;
}

.scorecard-button:hover {
  background-color: #55c2da;
}

.right-section {
  width: flex;
  background-color: #728fff;
  min-height: 100vh;
  position: relative;
  left: -1410px;
}

.right-section table {
  width: 100%;
  border-collapse: collapse;
}

.right-section th,
.right-section td {
  border: 1px solid #000;
  padding: 15px;
}

.right-section th {
  font-weight: bold;
}
.button {
  display: block;
  width: 60%;
  padding: 12px;
  color: #4681f4;
  background-color: #afabe3;
  text-align: center;
  margin-left: 50px;
  border-radius: 13px;
  position: relative;
  top: -50px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #55c2da;
}
.do {
  position: relative;
  left: -126px;
  top: -60px;
}
.doit {
  width: 50px;
  height: 50px;
  position: relative;
  left: 40px;
  top: -20px;
  border-radius: 50%;
  object-fit: cover;
}
.button-group {
  margin-bottom: 20px;
  margin-top: -70px;
}

.player-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  position: relative;
  top: 27px;
  left: 35px;
  scrollbar-width: none;
}

.player-box {
  display: flex;
  gap: 0px;
  overflow-x: auto;
  scrollbar-width: none;
  width: 70%;
}

.player-item {
  margin-right: 10%;
  width: 0%px;
}

.player-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.scroll-button {
  margin-left: 10px;
}
.user-image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.match-container {
  display: flex;
  align-items: center;
  position: relative;
  top: 100px;
  left: -800px;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 10px;
  width: 53%;
}

.match-item {
  flex: 0 0 auto;
  margin-right: 00px;
}

.match-image {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  position: relative;
  top: 70px;
  left: -70px;
}

.match-description {
  position: relative;
  top: -50px;
}
