.Players .table-layout {
  margin: auto;
  width: 60%;
  margin-left: 30%;
  border-collapse: separate;
  border-spacing: 15px;
  position: relative;
  top: -250px;
  left: -200px;
}
body {
  background-color: #afabe3;
  font-family: sans-serif;
  font-size: larger;
}
.Players .table-layout tr,
.Players .table-layout td,
.Players .table-layout th {
  border: 3px solid black;
}

.Players .table-layout td:nth-child(1),
.Players .table-layout th:nth-child(1) {
  width: 50%;
}

.Players .table-layout td:nth-child(2),
.Players .table-layout th:nth-child(2) {
  width: 50%;
}

.Players .table-layout td:nth-child(3),
.Players .table-layout th:nth-child(3) {
  width: 20%;
}

.Players .table-layout td:nth-child(4),
.Players .table-layout th:nth-child(4) {
  width: 40%;
}

.Players .image-size {
  width: 100px;
  height: auto;
}

.custom-label {
  display: inline-block;
  padding: 5px;
  margin: 4px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Form label hover effect */
.custom-label:hover {
  border-color: #007bff; /* Change border color on hover */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Add shadow on hover */
}

/* Form checkbox styling */
.custom-checkbox {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Form checkbox hover effect */
.custom-checkbox:hover {
  transform: scale(1.1); /* Increase size on hover */
}

.search-button {
  top: 3px;
}

.custom-row {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}
