/* PlayerInfo.css */

.player-info-container1 {
  color: aliceblue;
  font-size: 20px;

  height: 1000vh;
  width: 100vw;

  font-family: Arial, sans-serif;
  background:
    linear-gradient(0deg, rgba(30, 20, 122, 0.504) 61%, rgb(180, 45, 253) 100%),
    url("./back.jpg") no-repeat center center / cover;
  background-attachment: fixed;
}

.player-info-container {
  position: absolute;
  top: 100px;
  right: 00px;
  justify-content: space-between;
  padding: 20px;
}

.player-name {
  font-family: urbanist, sans-serif;
  font-style: italic;
  position: fixed;
  top: 270px;
  left: 25px;
  /* width: 280px; */
  /* height: 50px; */
  font-size: 35px;
}

.player-role-country {
  font-family: sans-serif;
  position: fixed;
  top: 325px;
  left: 25px;
  font-size: 18px;
}

.player-basic-info {
  font-family: urbanist, sans-serif;
  position: fixed;
  top: 370px;
  left: 25px;
}
.headers {
  font-family: sans-serif;
  opacity: 0.5;
  font-size: 18px;
  font-weight: bold;
}
.infos {
  font-size: 22px;
  font-style: italic;
  font-style: bold;
}
.player-image img {
  position: fixed;
  size: 100px;
  top: 50px;
  left: 30px;
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the image round */
  object-fit: cover;
}

.player-stats {
  width: 75%;
  font-family: sans-serif;
  position: relative;
  top: "-50";
  left: "50";
}

/* Adjust table border width and color */
.table-bordered {
  border: 2px outset #000000;

  text-align: left;
}
.table-bordered th {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px outset #000; /* Border style */
}

/* Style table cells */
.table-bordered td {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px outset #000; /* Border style */
}

/* PlayerInfo.css */

.table-container {
  display: inline-block;
  overflow: hidden; /* Hide overflowing glow */
  border-radius: 10px;
  position: relative;
}

.table-bordered {
  background-color: rgba(255, 255, 255, 0.1); /* Transparent background color */
  border-collapse: separate;
  border-spacing: 0.5em;
  border-radius: 10px;
  position: relative;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #fff; /* White border */
  padding: 0.5em; /* Padding around table cells */
  font-family: Arial, sans-serif;
  color: aliceblue; /* Font color */
}

.table-bordered th {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Transparent black background color for table headers */
}

.table-bordered tbody tr {
  transition: transform 0.3s ease; /* Smooth transition */
}

.table-container:hover .table-bordered {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Box shadow for glow effect on hover */
  transform: scale(1.1); /* Increase size on hover */
}
