.Teams {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #b2ffff;
  font-size: large;
  align-items: center;
  background:
    linear-gradient(0deg, rgba(30, 20, 122, 0.504) 61%, rgb(180, 45, 253) 100%),
    url("./back.jpg") no-repeat center center/cover fixed;
}

.criteria-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.criteria-item {
  margin: 0 10px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  max-width: 900px;
  margin: auto;
}

.team-item {
  width: 200px;
  margin: 20px;
  text-align: center;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.team-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.team-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.team-name {
  font-size: 15px;
  font-family: Arial, sans-serif;
  display: block;
  margin-top: 10px;
}

.Teams .form-control,
.Teams .custom-select {
  width: 200px;
  height: 50px;
  font-size: 18px;
}

.Teams .btn {
  font-size: 18px;
}

.Teams .btn:hover {
  background-color: #007bff;
  color: #fff;
}
